
@{
    ViewBag.Title = "Index";
}

<h2>Authors</h2>

<p><input id="auhtors-select2" multiple="multiple" /></p>
<p><button id="populate-btn">Populate</button></p>

<script>
    $(function () {

        var data = [
            {
                id: 0,
                text: 'enhancement'
            },
            {
                id: 1,
                text: 'bug'
            },
            {
                id: 2,
                text: 'duplicate'
            },
            {
                id: 3,
                text: 'invalid'
            },
            {
                id: 4,
                text: 'wontfix'
            }
        ];

        var selectedData = [
            {
                id: 4,
                text: 'wontfix'
            }
        ];

        $("#auhtors-select2").select2({
            placeholder: "Search authors",
            data: data
        });

        $("#populate-btn").click(function() {
           $("#auhtors-select2").val(selectedData);
        });

    })
</script>