@Scripts.Render("~/bundles/author")
@{
    ViewBag.Title = "Authors";
}

<div class="row" data-bind="visible: ShowEditBlock" id="editAuthor">
    <div class="col-md-12">
        <h2>Edit author</h2>
        <input type="hidden" class="form-control" id="authorId" data-bind="value: AuthorEdit.Id">
        <div class="form-group">
            <label for="authorName">Name</label>
            <input type="text" class="form-control" id="authorName" data-bind="textInput: AuthorEdit.Name">
        </div>
        <div class="form-group">
            <label for="authorSurname">Surname</label>
            <input type="text" class="form-control" id="authorSurname" data-bind="textInput: AuthorEdit.Surname">
        </div>
        <button class="btn btn-default" data-bind="click: OnEditSave">Save</button>
        <button class="btn btn-danger" data-bind="click: function(){ ShowEditBlock(false) }">Cancel</button>
    </div>
</div>

<h2>Authors</h2>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" aria-label="Left Align" data-bind="click: OnAdd">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered" id="authorsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Authors()">
                <tr>
                    <td data-bind="text: Id()"></td>
                    <td data-bind="text: Name()"></td>
                    <td data-bind="text: Surname()"></td>
                    <td>
                        <button data-bind="click: OnEdit" class="btn btn-default">EDIT</button>
                        <button data-bind="click: function(){ $data.remove(); }" class="btn btn-danger">DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="createAuthorModal" tabindex="-1" role="dialog" aria-labelledby="createAuthorModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add new author</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="createAuthorName">Name</label>
                    <input type="text" class="form-control" id="createAuthorName" data-bind="textInput: AuthorEdit.Name">
                </div>
                <div class="form-group">
                    <label for="createAuthorSurname">Surname</label>
                    <input type="text" class="form-control" id="createAuthorSurname" data-bind="textInput: AuthorEdit.Surname">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: OnAddSave">Save</button>
            </div>
        </div>
    </div>
</div>

@*<p><input id="auhtors-select2" multiple="multiple" /></p>
    <p><button id="populate-btn">Populate</button></p>*@

<script>
    $(function () {
        var urls = {
            GetAuthorsUrl: '@Url.Action("GetAuthors", "Author")',
            UpdateAuthorUrl: '@Url.Action("UpdateAuthor", "Author")'
        };

        var controller = new AuthorController(new AuthorBusiness(new AuthorService(urls)));

        controller.Initialize();

        //var data = [
        //    {
        //        id: 0,
        //        text: 'enhancement'
        //    },
        //    {
        //        id: 1,
        //        text: 'bug'
        //    },
        //    {
        //        id: 2,
        //        text: 'duplicate'
        //    },
        //    {
        //        id: 3,
        //        text: 'invalid'
        //    },
        //    {
        //        id: 4,
        //        text: 'wontfix'
        //    }
        //];

        //var selectedData = [
        //    {
        //        id: 4,
        //        text: 'wontfix'
        //    }
        //];

        //$("#auhtors-select2").select2({
        //    placeholder: "Search authors",
        //    data: data
        //});

        //$("#populate-btn").click(function() {
        //   $("#auhtors-select2").val(selectedData);
        //});

    })
</script>