@Scripts.Render("~/bundles/author")
@{
    ViewBag.Title = "Authors";
}
<h2>Authors</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        @{Html.RenderPartial("_Grid");}
    </div>
</div>

@{Html.RenderPartial("_GridRow");}

@{Html.RenderPartial("_Modal");}

<script>
    $(function () {
        var urls = {
            GetAuthorsUrl: '@Url.Action("GetAuthors", "Author")',
            CreateAuthorUrl: '@Url.Action("CreateAuthor", "Author")',
            UpdateAuthorUrl: '@Url.Action("UpdateAuthor", "Author")',
            DeleteAuthorUrl: '@Url.Action("DeleteAuthor", "Author")'
        };

        var authorBusiness = new AuthorBusiness(new AuthorService(urls));
        var authorGridController = new AuthorGridController(authorBusiness);
        var authorController = new AuthorController(authorBusiness, authorGridController);

        authorGridController.Initialize();
    })
</script>
