<table class="table table-hover">
    <thead id="book_data_table">
        <tr role="row">
            <th data-name="Id">Id</th>
            <th data-name="Title">Title</th>
            <th data-name="PublicationDate">Publication Date</th>
            <th data-name="Rating">Rating</th>
            <th data-name="PagesCount">Pages Count</th>
            <th data-name="Authors">Authors</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="book_tbody"></tbody>
</table>

<div id="book_grid_row_template" hidden="hidden">

</div>