<table id="book-data-table" class="table table-bordered">
    <thead>
        <tr role="row" class="heading">
            <th data-name="Id" class="text-center">ID</th>
            <th data-name="Title" class="text-center">Title</th>
            <th data-name="PublicationDate" class="text-center">Publication Date</th>
            <th data-name="Rating" class="text-center">Rating</th>
            <th data-name="PagesCount" class="text-center">Pages Count</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody id="book-tbody"></tbody>
</table>