<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bookModalLabel">Edit Author</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="bookTitle">Title</label>
                    <input type="text" class="form-control" id="bookTitle" data-bind="textInput: Title">
                </div>
                <div class="form-group">
                    <label for="bookPublicationDate">Publication Date</label>
                    <input type="text" class="form-control" id="bookPublicationDate" data-bind="textInput: PublicationDate">
                </div>
                <div class="form-group">
                    <label for="bookRating">Rating</label>
                    <input type="text" class="form-control" id="bookRating" data-bind="textInput: Rating">
                </div>
                <div class="form-group">
                    <label for="bookPagesCount">Pages Count</label>
                    <input type="text" class="form-control" id="bookPagesCount" data-bind="textInput: PagesCount">
                </div>
                <div class="form-group">
                    <label for="bookAuthors">Authors</label>
                    <input type="text" class="form-control" id="bookAuthors" data-bind="textInput: Authors">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: EditSaveClick">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
