
@{
    ViewBag.Title = "Book catalog";
}


@Scripts.Render("~/bundles/book")

<h2>Books</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        @{Html.RenderPartial("_BookGrid");}
    </div>
</div>

@{Html.RenderPartial("_GridRow");}


<script>
    $(function () {
        var urls = {
            GetBooksUrl: '@Url.Action("GetBooks", "Book")'
        };

        var bookBusiness = new BookBusiness(new BookService(urls));
        var bookGridController = new BookGridController(bookBusiness);
        var bookController = new BookController(bookBusiness, bookGridController);

        bookGridController.Initialize();
    })
</script>