@Scripts.Render("~/bundles/book")
@{
    ViewBag.Title = "Book catalog";
}

<h2>Books</h2>

<div>
    <table id="books-table" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Publication Date</th>
                <th>Rating</th>
                <th>Pages Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Books">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Title"></td>
                <td data-bind="text: PublicationDate"></td>
                <td data-bind="text: Rating"></td>
                <td data-bind="text: PagesCount"></td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(function () {

        var urls = {
            GetBooksUrl: '@Url.Action("GetBooks", "Book")'
        };

        var bookController = new BookController(new BookBusiness(new BookService(urls)));
        bookController.Initialize();
    })
</script>