@Scripts.Render("~/bundles/book")
@{
    ViewBag.Title = "Book catalog";
}

<h2>Books</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        @{Html.RenderPartial("_Grid");}
    </div>
</div>

@{Html.RenderPartial("_GridRow");}

@{Html.RenderPartial("_Modal");}

<script>
    $(function () {

       var urls = {
            GetBooksUrl: '@Url.Action("GetBooks", "Book")',
            CreateBookUrl: '@Url.Action("CreateBook", "Book")',
            UpdateBookUrl: '@Url.Action("UpdateBook", "Book")',
            DeleteBookUrl: '@Url.Action("DeleteBook", "Book")'
        };

        var business = new BookBusiness(new BookService(urls));
        var gridController = new BookGridController(business);
        var controller = new BookController(business, gridController);

        gridController.Initialize();
    })
</script>