@Scripts.Render("~/bundles/book")
@{
    ViewBag.Title = "Book catalog";
}

<h2>Books</h2>

<div id="book-grid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            @{ Html.RenderPartial("~/Views/Book/_Grid.cshtml"); }
        </div>
    </div>
</div>

@Html.Partial("_GridRow")

<script>
    $(function () {

        var urls = {
            GetBooksUrl: '@Url.Action("GetBooks", "Book")'
        };

        var business = new BookBusiness(new BookService(urls));
        var grid = new BookGridController(business);
        var controller = new BookController(business, grid);

        grid.Initialize();
    })
</script>